.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imageContainer > img {
    /* border: 1px solid red; */
    margin-bottom: 0.5rem;
    background: transparent;
    background-color: transparent;
}

.imageTag {
    text-align: center;
}

.dataContainer {

}

.indivDataContainer {
    width: 100%;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
}

.indivDataTitle {
    font-size: 1rem;
}

.indivData {
    font-size: 0.8rem;
}
